/* 
 * -- Utilities --
 */
.left  { float:left; }
.right { float:right; }
.instruction { color:#3e3e3e; font-family:Georgia, Times, serif; font-size:14px; font-style:italic; opacity: 0.4; -moz-opacity: 0.4; filter:alpha(opacity=40); text-shadow:1px 1px 1px #fff; }
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat:no-repeat; text-align:left; direction:ltr; }

.column-main { border-right:1px solid #ddd; width:64.9% !important; }
.column-main .column-wrapper { border:1px solid #dddddd; margin:0 10px 10px 0; padding-right:0 !important; }
#layoutsEditor #layouts-form-buttons { width:99%; }


/* 
 * -- Chunks --
 */
#layoutsChunks { border-bottom:1px solid #ddd; padding:.55em; position:relative; }
#layoutsChunks ul, #layoutsChunkInsert ul { list-style:none; margin:0; padding:0; }
	#layoutsChunks li, #layoutsChunkInsert li { border:1px solid #fff; cursor:pointer; float:left; margin:0 2px 0 0; }
		#layoutsChunks li.active, #layoutsChunkInsert li.active { border:1px solid #b0def8; }
	#layoutsChunks li img, #layoutsChunkInsert li img { background:#fff; border:1px solid #dddddd; display:block; padding:1px; }
		#layoutsChunks li.active img, #layoutsChunkInsert li.active img { background:#b0def8; border:1px solid #4b4141; }
#layoutsBreakpoints { position:absolute; right:.5em; bottom:1em; }

#layoutsChunkInsert { padding:.25em 1em 1em 1em; position:relative; }
#layoutsExtraChunks { background:#fff; border:1px solid #90a3a3; border-radius:6px 6px; display:none; position:absolute; top:-8px; left:1em; z-index:2; }
	#layoutsExtraChunks ul { margin:3px 10px 0 0; }
	#layoutsExtraChunks button { display:block; margin:10px 8px 0 0; }
	#layoutsExtraChunks h1 { background:#bdcfcf; color:#323737; display:block; float:left; font-size:12px; margin:0 1em 0 0; padding:.75em 1em; }


/* 
 * -- Regions --
 */
#layoutsStage { margin:1em; position:relative; }
	#layoutsStage .region { background:#d9d9db url('../images/region-pattern.png'); border:1px dashed #e7e7e7; min-height:300px; }
	#layoutsStage .layout { margin-bottom:1em; position:relative; }
	#layoutsStage .layoutsDragHandle, #layoutsStage .layoutsDeleteIcon {
		background:#d9d9db url('../images/region-pattern.png'); 
		
		display:block;
		padding:3px;
		position:absolute; left:-17px;
		z-index:10;
	}
		#layoutsStage .layoutsDragHandle { cursor:move; top:47%; }
		#layoutsStage .layoutsDeleteIcon { cursor:default; top:54%; }
		#layoutsStage .layoutsDragHandle .draggable, #layoutsStage .layoutsDeleteIcon .delete { background-position:0 -20px; background-repeat:no-repeat; display:block; height:15px; overflow:hidden; width:15px; }
			#layoutsStage .layoutsDragHandle .draggable { background-image:url('/misc/draggable.png'); }
			#layoutsStage .layoutsDeleteIcon .delete { background-image:url('../images/layouts-close.png'); }
			#layoutsStage .layoutsDragHandle .draggable:hover, #layoutsStage .layoutsDeleteIcon .delete:hover { background-position:0 0; }

#layoutsModal { background:#eee; display:none; height:100%; position:absolute; top:0; left:0; width:100%; z-index:100; }
#layouts-bean-form { padding:2em; }
	#layouts-bean-form .form-item { background:none; border:none; margin:0 0 1em 0; position:static; padding:0; }
	#layouts-bean-form .form-item label { color:#000; font-weight:normal; font-size:100%; text-transform:none; margin:0; padding:0; }
	#layouts-bean-form .form-actions { background:none; border:none; border-top:1px solid #ccc; margin:2em 0 0 0; padding:1em 0 0 0; }


/**
 * Block List 
 */
#layouts-form-buttons { margin-bottom:1em; }
#layoutsFilterBlocks { background:#b2b2b2; padding:10px 8px; }
	#layoutsFilterBlocks input { background:#eeeeee url('../images/layouts-magnifying-glass.png') no-repeat 1% 50%; border-radius:6px 6px; display:block; font-size:13px; margin:auto; padding:5px 5px 5px 20px; width:93%; }

#layoutsBlockItems { border:1px solid #ddd; list-style:none; margin:0; max-height:600px; min-height:60px; padding:0; overflow-x:hidden; overflow-y:scroll; }
	#layoutsBlockItems .layoutsBlockWidget { background:#eee url('../images/layouts-library-widget-background.png') no-repeat 0 50%; color:#444; cursor:move; margin:2px; padding:5px 5px 5px 30px; }
		#layoutsBlockItems .layoutsBlockWidget:hover { background-color:#d8dde0; }
		#layoutsBlockItems .tools { display:none; }
		#layoutsBlockItems h1 { font-size:12px; }
		#layoutsBlockItems p { font-size:11px; }
	
	.ui-draggable-dragging { border:1px solid black; padding:5px; }


/* 
 * -- Blocks --
 */
#layoutsStage .layoutsBlockWidget {
	background:#bdcfcf;
	box-shadow:1px 1px 1px rgba(0, 0, 0, .3);
	color:#788181;
	font-size:11px;
	margin:6px;
}
	#layoutsStage .layoutsBlockWidget .description { padding:10px; }
	
#layoutsStage .layoutsBlockWidget .toolbar { background:#9db2b2; border-bottom:1px solid #8b9e9e; position:relative; }
	#layoutsStage .layoutsBlockWidget .toolbar h1 { background:url('../images/layouts-dragger.png') no-repeat 0 10px; color:#fff; display:block; font-size:12px; font-weight:normal; padding:4px 10px 4px 16px; margin-left:7px; width:70%; }
	#layoutsStage .layoutsBlockWidget .toolbar .tools { border-left:1px solid #95a8a8; padding-left:4px; position:absolute; top:6px; right:8px; }
		#layoutsStage .layoutsBlockWidget .toolbar .tools a { background-image:url('../images/layouts-tool-icons.png'); display:block; float:left; height:16px; width:16px; }
		#layoutsStage .layoutsBlockWidget .toolbar .settings { background-position:0 0; }
		#layoutsStage .layoutsBlockWidget .toolbar .delete { background-position:100% 0; }
	#layoutsStage .layoutsBlockWidget p { padding:3px 6px; }


/* Use on elements that contain floated items
--------------------------------------------- */
.group:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}

/* self-clear floats */
* html .group { /* ie 6 */
	height:1%;
}
*:first-child+html .group { /* ie 7 */
	min-height:1px;
}